// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addresses-container{
  .addresses-header{
    display: table;
    h1{
      line-height: 35px;
      float: left;
    }
    .create-link{
      color: white;
      font-size: 15px;
      line-height: 35px;
      float: left;
      background: #607D8B;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 0 35px;
      margin-left: 15px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover{
        background: transparent;
        border-color: #607D8B;
        color: #607D8B;
      }
    }
  }
  .search-form{
    width: 500px;
    padding: 35px 0;

    .select-address{
      .selectize-input{
        line-height: 28px;
        padding: 8px 20px;

        input{
          font-size: 15px;
        }
      }
    }
  }

  table{
    border-spacing: 0;
    border: 1px solid #E7E7E7;
    thead{
      th{
        text-align: left;
        padding: 20px 30px;
        font-size: 14px;
        background: #607D8B;
        color: white;
        border-bottom: 1px solid #dcdcdc;
        font-weight: 400;
      }
    }
    tr{
      background: white;
      td{
        line-height: 50px;
        padding: 0 0 0 30px;
        text-align: left;
        border-bottom: 1px solid #edeef0;

        i{
          font-size: 1.2em;
          color: #455A64;
        }

        &.action{
          padding: 0 10px;
        }

        &:last-child{
          padding-right: 30px;
        }
      }

      &:nth-child(even){
        background: #f5f5f5;
      }
    }
  }
}
.address-form-overlay{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  animation-duration: 0.1s;
  display: none;

  &.animated{
    animation-duration: 0.5s;
  }
}
.address-form-wrapper{
  position: fixed;
  top: 150px;
  left: calc((100vw - 350px)/2);
  z-index: 1000;
  display: none;

  &.animated{
    animation-duration: 0.5s;
  }
}
.address-form{
  width: 350px;
  background: white;
  border-radius: 3px;

  .form-header{
    width: 100%;
    background: #607D8B;
    padding: 0 30px;

    p{
      color: white;
      font-size: 1.5em;
      line-height: 60px;
      text-align: center;
    }
  }

  .form-body {
    padding: 30px;

    form {
      .field {
        margin-bottom: 20px;
        label {
          margin-bottom: 10px;
        }
        input {
          width: 100%;
          line-height: 40px;
          margin: 0;
          outline: none;
          padding: 0 10px;
          font-size: 1.5em;
          box-sizing: border-box;
          border: 1px solid #dcdcdc;
          border-radius: 2px;
        }

        .selectize-input {
          line-height: 40px;
          padding: 0 10px;
          border: 1px solid #dcdcdc;
        }
      }
      .actions {
        margin: 0;
        input {
          width: 100%;
          line-height: 45px;
          background: #607D8B;
          border: 1px solid transparent;
          border-radius: 3px;
          color: white;
          cursor: pointer;
          font-size: 1.2em;
          padding: 0 30px;
          outline: none;
          -webkit-appearance: none;
          transition: all 0.3s ease;

          &:hover {
            background: transparent;
            border-color: #607D8B;
            color: #607D8B;
          }
        }
      }
    }
  }
}