// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addresses-container{
  table{
    border-spacing: 0;
    padding-top: 50px;
    th{
      text-align: left;
    }
    tr{
      td{
        line-height: 50px;
        border-bottom: 1px solid #4f4f4f;
        padding: 0 20px 0 0;
        text-align: left;
      }
    }
  }
}